@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
}
body {
    min-height: 100vh;
    background-color: #a9a9a9;
}
header {
    background-color: #000000;
    color: #ffffff;
    padding: 40px;
    text-align: center;
}
header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
}
header > h3 {
    padding-bottom: 50px;
}
a {
    text-decoration: none;
    color: #ffffff;
}
a:hover {
    text-decoration: underline;
    color: #8b0e00;
    transition-duration: 1s;
}
section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
}
section.normal {
    background-color: #ffffff;
    color: #000000;
}
section.imagem {
    background-color: #000000a7;
    color: white;
}
section.imagem > p {
    background-color: #000000;
    width: 400px;
}
footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 5px;
}